@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&family=Unbounded:wght@200..900&display=swap');

*,
::before,
::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

label{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 7px;
}

html,
body{
  height: 100vh;
  width: 100vw;
}

body{
  display: flex;
  justify-content: center;
  font-family: "Unbounded", cursive;
  background-image: url('D:\RES-Projects\Github Public\ExpenSys\frontend\public\8116.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #000000;
  align-items: center;
}

.container{
  background-color: #ffffff;
  padding: 48px 48px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  border: 5px inset #ffb300;
  /* box-shadow: inset 2px 2px 15px rgba(0, 0, 0, 0.2); */
}

.container > h1{
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  font-family: "Unbounded", cursive;
}

.container > form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container div{
  display: flex;
  flex-direction: column;
}

.container input{
  width: 100%;
  font-size: 20px;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}

.highlight {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 16px;
}

.buttton {
  background-color: #f8d302;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  border: 3px outset #ffb300;
  font-family: "Unbounded", cursive;
  transition: background-color 0.3s;
}

.buttton:hover {
  color: rgb(255, 204, 0);
  background-color: #674100;
}

.container input::placeholder{
  font-size: 10px;
  font-family: "Unbounded", cursive;
}

.signup-link {
  text-decoration: none;   
  color: #ff9d00;           
  font-weight: bold;        
  font-size: 16px;
  font-family: "Unbounded", cursive;
}

.signup-link:hover {
  color: #643c00;           
}

button{
  background-color: #f8d302;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  border: 3px outset #ffb300;
  font-family: "Unbounded", cursive;
  transition: background-color 0.3s;
}

.login-link {
  text-decoration: none;   
  color: #ff9d00;           
  font-weight: bold;        
  font-size: 16px;
  font-family: "Unbounded", cursive;
}

.login-link:hover {
  color: #643c00;           
}

button:hover {
  color: rgb(255, 204, 0);
  background-color: #674100;
}

.user-section{
  display: flex;
  justify-content: space-between;
}

/* Minimal styling for the expense list */
.expense-list {
  font-family: Arial, sans-serif;
}

.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.expense-description {
  font-weight: bold;
}

.delete-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 4px 7px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 3px;
}

.delete-button:hover {
  background-color: #c0392b;
}

.amounts-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  font-family: Arial, sans-serif;
  font-size: 18px;
}

.income-amount {
  color: #27ae60;
  font-weight: bold;
}

.expense-amount{
  color: #c0392b;
  font-weight: bold;
}
